
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html,body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper .wrapper_header {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper_header .header_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

.header_title .title {
    color: #55b2e4;
    font-size: 13px;
    font-weight: 700;
}
.header_title .subtitle {
    font-size: 9px;
    padding-left: 7px;
}

.dividLine {
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 8px;
}

.wrapper .game_container {
    width: 222px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #f6f6f6;
}

.game_container .game_title {
    font-size: 15px;
    font-weight: 900;
}
.game_container .game_subtitle {
    font-size: 11px;
}

.game_container .word_text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.word_text .textbox {
    width: 130px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 11px;
    font-weight: 700;
}

.word_text .search {
    font-size: 11px;
    font-weight: 700;
    width: 38px;
    height: 24px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.game_container .word_result {
    font-size: 11px;
    font-weight: 700;
}

.game_container .lotto_num_box {
    width: 130px;
    height: 21px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 8px 0 10px 0;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid #000;
    background-color: #FFE400;
    border-radius: 8px;
}

.game_container .lotto_btn {
    width: 62px;
    height: 24px;
    font-size: 11px;
    font-weight: 700;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
}