
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper .wrapper_body {
    width: 100%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content_title {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    align-items: center;
}
.content_title .title {
    color: #55b2e4;
    font-size: 13px;
    font-weight: 700;
}
.content_title .subtitle {
    font-size: 9px;
    text-transform: uppercase;
    padding-left: 7px;
}
.dividLine {
    width: 100%;
    border-top: 1px solid gray;
}
.content_body {
    font-size: 11px;
    color: gray;
}
.myVideo_body {
    width: 100%;
    height: 100%;
    background: url(../images/homebackground.gif) no-repeat center center/ 100% 100%;
    margin-top: 13px;
}