* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper .wrapper_header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.wrapper .wrapper_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_title {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    align-items: center;
}
.header_title .title {
    text-transform: uppercase;
    color: #55b2e4;
    font-size: 13px;
    font-weight: 700;
}
.header_title .subtitle {
    font-size: 9px;
    text-transform: uppercase;
    padding-left: 7px;
}
.dividLine {
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 8px;
}

.wrapper_header .albumWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 13px;
}
.albumWrapper .album {
    text-align: center;
}
.album .album_title {
    font-size: 11px;
    font-weight: 900;
    color: #0F465E;
    text-transform: capitalize;
    margin-top: 10px;
}
.album .singer {
    font-size: 10px;
    font-weight: 700;
    color: #999;
}

.wrapper_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.albumTable table {
    width: 100%;
    border: none;
    border-spacing: 0;
    margin-top: 8px;
    text-align: left;
}
.albumTable table th {
    background-color: #eee;
    color: #999;
    font-size: 10px;
    font-weight: 700;
    border: 1px solid #999;
    border-left: none;
    border-right: none;
    padding: 5px;
}
.albumTable table th:nth-child(1) {
    width: 0;
}
.albumTable table th:nth-child(2) {
    width: 40px;
    text-align: center;
}
.albumTable table td {
    font-size: 10px;
    font-weight: 400;
    border-bottom: 1px dashed #999;
    padding: 4px 5px;
    font-weight: 700;
}

.albumTable table th:nth-child(1),
.albumTable table td:nth-child(1) {
    padding-left: 7px;
}

.albumTable table td:nth-child(2) {
    text-align: center;
}

.albumTable table td:nth-child(3),
.albumTable table td:nth-child(4) {
    color: #0F465E;
}